<ion-header>
  <ion-navbar>
    <ion-title>
    	Move on
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input [(ngModel)]="name" type="text" value="" placeholder="Choose a name for this session"></ion-input>
  </ion-item>

  <ion-list [(ngModel)]="activity" radio-group>
    <ion-list-header>
      Choose an activity
    </ion-list-header>
    <ion-item>
      <ion-label>Running</ion-label>
      <ion-radio checked="true" value="Running"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Bike</ion-label>
      <ion-radio value="Bike"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Walk</ion-label>
      <ion-radio value="Walk"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>Choose an aim</ion-label>
    <ion-select [(ngModel)]="aim" multiple="false" (ionChange)="onAimChange($event)">
      <ion-option value="Time" selected="true">Time</ion-option>
      <ion-option value="Distance">Distance</ion-option>
    </ion-select>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input [(ngModel)]="value1" type="number"></ion-input>
          <ion-label fixed>{{label}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item *ngIf="!distanceSelected">
          <ion-input [(ngModel)]="value2" type="number"></ion-input>
          <ion-label fixed>Second</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

	<button ion-button (click)="save()" full color="secondary">Start</button>
</ion-content>
