<ion-header>
  <ion-navbar>
    <ion-title>
    	Move on
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<button ion-button (click)="start()" full color="secondary">Start a session</button>
	<button ion-button full color="secondary">Session history</button>
</ion-content>
